:root {
    --main-color: #8e44ad;
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.navbar {
    padding: 0.75rem 7.5rem 0.75rem 7.5rem;
    font-size: 130%;
    box-shadow: var(--box-shadow);
}

.navbar-brand {
    font-size: 130%;
}




.home {
    padding:0rem;

}

.home .swiper-slide {
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 45rem;
}

.home .swiper-slide .content {
    width: 65rem;
}

.home .swiper-slide .content span {
    color: var(--white);
    font-size: 2.5rem;
    display: block;
    padding-bottom: 1rem;
}

.home .swiper-slide .content h3 {
    font-size: 6vw;
    color: var(--white);
    line-height: 1;
    text-shadow: var(--text-shadow);
}

.home .swiper-slide .content .btn {
    color: var(--white);
    background-color: var(--black);
}

.home .swiper-slide .content .btn:hover {
    background-color: var(--main-color);
}

.home .swiper-button-prev {
    color: var(--main-color);
}

.home .swiper-button-next {
    color: var(--main-color);
}











.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.services .box-container .box {
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--main-color);
    margin: 2rem 1rem 2rem 1rem;
}

.services .box-container .box i {
    color: var(--light-white);
}

.services .box-container .box:hover {
    animation: shake 2s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    background-color: var(--black);
    color: var(--white);
}

.heading-title {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--black);
}




.home-offer{
    text-transform: center;
}
.home-offer .content-offer{
    max-width: 70rem;
    margin: 0 auto 0 auto;
}
.home-offer .content-offer h3{
    font-size: 4rem;
    color: var(--black);
}
.home-offer .content-offer p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

























.footer {
    background-image: url("https://images2.alphacoders.com/238/238870.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: small;
    background-color: #213555;
    color: var(--white);
    padding: 4rem;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box h5 {
    color: var(--white);
    font-size: 1.7rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a {
    color: var(--light-white);
    font-size: .9rem;
    padding-bottom: 1rem;
    display: block;
    text-decoration: none;
}

.footer .box-container .box a i {
    color: var(--main-color);
    padding-right: 0.4rem;
    transition: .5s linear;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: 0.1rem solid var(--light-white);
    font-size: 1rem;
    color: var(--white);
}

.footer .credit span {
    color: var(--main-color);
}










/* animations and transitions */
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0px, -1px);
    }

    20%, 80% {
        transform: translate3d(2px, 1px, 2px);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, -2px, -4px);
    }

    40%, 60% {
        transform: translate3d(4px, 2px, 4px);
    }
}









/* media queries */

@media(max-width: 1200px) {

    section {
        padding: 3rem 5%;
    }
}

@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }

}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

    .heading-title {
        font-size: 2rem;
    }

}